# venv / Python
.venv/
__pycache__/
*.pyc

# env / secrets
.env

# editor cruft
.vscode/
.idea/
*.swp

#old robot files
robot/robot_client_old*
robot/robot_brain_old*
robot_client_old*
robot_brain_old*

